//Variables
$colorRed: red;
$colorPurple: rgb(197, 176, 218);
$colorBlue: rgb(4, 4, 167);
$colorBackground: rgb(243, 242, 242);
$colorSlider: rgb(72, 141, 141);
$colorSlider2: rgb(232, 129, 241);
$colorBorder: rgb(172, 171, 173);
$colorHover: rgb(230, 46, 46);
$colorHoverBg:white;
$colorBorderDescription: gray solid;
$maxHeight: 80px;
$fuenteFont: "roboto", sans-serif;
$cen: center;
$size: font-size, 20px;